<div class="all">
<h1>STUPID COACHING</h1>
  <div class="question">
    <p><%= @question %></p>
    <p><em>-You</em></p>
  </div>
  <div class="answer">
    <p><%= @answer %></p>
    <p><em>-Your Coach</em></p>
  </div>
<%= link_to "Ask again if you dare", ask_path %>
</div>
